@model Projekt_Demens.Models.News
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>

</head>

<body>
<h1>Create Blog Post</h1>

<fieldset>

    <form asp-action="AddNews" asp-controller="Therapist">

        <div asp-validation-summary="ModelOnly" class="input-validation-error"></div>

        <p style="font:bold">
            Overskrift
            <input asp-for="HeadLine" class="form-control" placeholder="Indtast overskriften her"/>
            <span asp-validation-for="HeadLine"></span>
        </p>
        
        <p style="font:bold">
            Indhold
            <input asp-for="Body" class="form-control" placeholder="Skriv indholdet her"/>
            <span asp-validation-for="Body"></span>
        </p>

        

        <p >
            <button type="submit">Gem nyhed </button>
        </p>

    </form>

</fieldset>
</body>
</html>
