
@model IEnumerable<Projekt_Demens.Models.News>
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        a.button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 12px;
        }
       
        .link {
            background-color:green;
            color: white;
            padding: 1em 1.5em;
            text-decoration: none;
           
        }

            .link:hover {
                cursor: pointer;
            }

        .btn {
            border: none;
            background-color: inherit;
            padding: 14px 28px;
            font-size: 16px;
            cursor: pointer;
            display: inline-block;
        }

        /* Green */
        .success {
            color: green;
        }

            .success:hover {
                background-color: #4CAF50;
                color: white;
            }

            .Klassernevirkerikke
            {
                Color:aquamarine;
            }
 </style>       
    
</head>

<body>

   
<a class="button" asp-controller="Therapist" asp-action="AddNews">
    Tilføj nyhed
</a>

@foreach (var a in Model)
{
    @Html.Partial("_News", a)
}


</body>

</html>
