
@model IEnumerable<Projekt_Demens.Models.News>
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    
</head>

<body>

   
<a class="button" asp-controller="Therapist" asp-action="AddNews">
    Tilføj nyhed
</a>

@foreach (var a in Model)
{
    @await Html.PartialAsync("_NewsEdit", a)
}


</body>

</html>
