
@{
    ViewData["Title"] = "Admin side";
}

<h2>Admin side</h2>
<h4>Det er kun admins der kan se denne side, da den er beskyttet med Authorize på controlleren.
    Hvis ikke du er logget ind, vil du blive sendt videre til log ind siden automatisk.
    </h4>
