/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 50px;
    padding-right: 50px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.navbar-nav a {
    font-size: 3em;
}

.navbar-header img {
    height:auto;
    width: 40px;
    margin-top: -7px;
}

textarea {
    width: 500px;
    height: 150px;
}

.edit {
    float: left;
    padding-right: 10px;
    border-right-width: medium;
    border-right:black;
    color:black;
            
}
.delete {
    color: red;
    font: bold;
    float: left;
    padding-right: 10px;
    border-right: black;
    border-right-width: medium;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.news-container {
    border-style: solid;
    width: 80%;
    margin-top: 30px;
    height: 80px;
    padding-left: 15px;
}

ul.news-list {
    list-style-type: none;
}

.triangle-blue {
    position: relative;
    padding: 15px;
    margin: 1em 0 3em;
    width: 200px;
    color: #000;
    background: #258e8e; /* default background for browsers without gradient support */
    /* css3 */
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#85e0e0), to(#258e8e));
    background: -moz-linear-gradient(#85e0e0, #258e8e);
    background: -o-linear-gradient(#85e0e0,#258e8e);
    background: linear-gradient(#85e0e0, #258e8e);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: .4em;
}

.triangle-red {
    position: relative;
    padding: 15px;
    margin: 1em 0 3em;
    width: 200px;
    color: #000;
    background: #cc0000; /* default background for browsers without gradient support */
    /* css3 */
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ff4d4d), to(#cc0000));
    background: -moz-linear-gradient(#ff4d4d, #cc0000);
    background: -o-linear-gradient(#ff4d4d,#cc0000);
    background: linear-gradient(#ff4d4d, #cc0000);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: .4em;
}

.speech {
    width: 100%;
    margin-bottom: 20px;
    float: left;
}

.chat-sidebar {
    height: 100%;
    width: 20%;
    left: 0;
    background-color: #fff;
    position:fixed;
    z-index:1;
    overflow:auto;
}

.chat-messages {
    margin-left: 25%;
    width: 75%;
    overflow: scroll;
    height: 600px
}

.chat-sent {
    float:right;
}

.chat-received {
    float:left;
}

.align-right {
    text-align:right;
}

.chat-send-box {
    margin-left: 30%;
    width: 70%;
}

.stat {
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: black;
    float:left;
    width: 100%;
    margin: 5px auto 5px auto;
}

.stat .percent {
    padding-left:10px;
    margin-top: 0px;
    width: 75px;
}

.float {
    float:left;
}
