@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

<h1>Statistik for træning</h1>

<div class="stats">
    <div class="stat">
        <h2 class="float percent">22%</h2>
        <p class="stat-description">16/06/2018 <br /> 4000 - Stående udadrotation af skulder med elastik mellem begge hænder (Aktivitet) </p>
    </div>
    <div class="stat">
        <h2 class="float percent">0%</h2>
        <p class="stat-description">16/06/2018 <br /> 4009 - Stående skulderadduktion med elastik (Aktivitet) </p>
    </div>
    <div class="stat">
        <h2 class="float percent">50%</h2>
        <p class="stat-description">15/06/2018 <br/> 4000 - Stående udadrotation af skulder med elastik mellem begge hænder (Aktivitet) </p>
    </div>
    <div class="stat">
        <h2 class="float percent">76%</h2>
        <p class="stat-description">15/06/2018 <br /> 4009 - Stående skulderadduktion med elastik (Aktivitet) </p>
    </div>
</div>
