@model Projekt_Demens.Models.News

<div class="news-container">

    <h4 style="width: 90%; text-align: left;font:bold">
        @Model.HeadLine
    </h4>
    <ul class="news-list">
        <li>
            @Html.ActionLink("Rediger", "EditNews", "Therapist", new{id=Model.Id}, new {@class="edit"})
        </li>
        <li>
            @Html.ActionLink("Slet", "Delete", "Therapist", new{id=Model.Id}, new { @class = "delete" })
        </li>
        <li >
            @Model.Posted.ToString("dd. MMMM yyyy")
            
        </li>

    </ul>
</div>