@model Projekt_Demens.Models.Stat
<div class="stat">
    <h2 class="float percent">@Model.result</h2>
    <p class="stat-info"></p>
    <p class="stat-description">@Model.Date.ToShortDateString() <br/> @Model.ExerciseName</p>
</div>