@model Projekt_Demens.Models.Tip
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article class="tip">
    <h2>@Model.Title</h2>
    <div class="tip-content">
        @Model.Body
    </div>
</article>

