@model Projekt_Demens.Models.Tip
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article class="tip">
    <h2>@Model.Title</h2>
    <div class="tip-content">
        @Model.Body.Substring(0,150) ...
    </div>
    <div class="tip-edit">
        @Html.ActionLink("Edit", "EditTip", "Therapist", new { Model.Id })
        &brvbar;
        @Html.ActionLink("Delete", "DeleteTip", "Therapist", new { Model.Id })
    </div>
</article>

